<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.snmpdemo.map.UserMapper">
    <select id="getUserInfoByUserId"  resultType="com.example.snmpdemo.domain.User">
        SELECT id_ id, pwd_ password, first_ name from ACT_ID_USER
        where id_ = #{userId}
    </select>
</mapper>